div.container section.places {
	text-align: center;
	/* margins were not stated in the problem */
	margin: auto 2%;
}

div.container section.places h1 {
	font-size: 30px;
	text-align: left;
}

div.container section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
}

section.places article h2 {
	font-size: 30px;
	text-align: center;
}